@import '~material-colors/dist/colors';
.bg {
    fill: rgba($md-grey-100, .5);
}

.path {
    fill: none;
    // marker-end:url(#arrow);
}

// .zero {
//     fill: none;
//     stroke: $md-grey-400;
//     stroke-dasharray: 10, 2;
// }

.path {
    fill: none;
    // stroke: $md-light-blue-500;
}

.path-link {
    stroke-width: 1px;
    stroke-dasharray: 1, 1;
}


.domain{
    display: none;
}

.axis text {
    fill: $md-grey-800;
    font-size: 11px;
    stroke: none;
}


.connector{
    stroke-dasharray: 1.5,.75;
    opacity: .6;
}