@import '~material-colors/dist/colors';
.bg {
    fill: rgba($md-grey-100, .5);
}

.path {
    fill: none;
    // marker-end:url(#arrow);
}

.zero {
    fill: none;
    stroke: $md-grey-400;
    stroke-dasharray: 3,1;
}


.path {
    fill: none;
    stroke: $md-light-blue-500;
}
