@import '~material-colors/dist/colors';
.bg {
    fill: rgba($md-grey-100, .5);
}

.path {
    fill: none;
    // marker-end:url(#arrow);
}

.path {
    fill: none;
    // stroke: $md-light-blue-500;
}

.path-link {
    stroke-width: 1px;
    stroke-dasharray: 1, 1;
}

.domain {
    display: none;
}

.axis text {
    fill: $md-grey-800;
    font-size: 11px;
    stroke: none;
}

.connector {
    stroke-dasharray: 1.5, .75;
    opacity: .6;
}

path.real-r {
    stroke-width: 1.2px;
    stroke: $md-blue-grey-800;
    stroke-dasharray: 1.5, .75;
    marker-end: url(#arrow);
}

path.r-bar{
    stroke-width: 1.2px;
    stroke: $md-blue-grey-700;
    stroke-dasharray: 1.5, .75;
    marker-end: url(#arrow2);
}

#arrow {
    fill: $md-blue-grey-800;
    pointer-events: none;

}

#arrow2 {
    fill: $md-blue-grey-700;
    pointer-events: none;
}

.g-r-bar{
    opacity: .7;
}

.g-r{
    opacity: .7;
}

.g-nairu{
    opacity: .7;
}

path.nairu{
    stroke-width: 1px;
    stroke-dasharray: 1.5, .8;
    stroke: $md-indigo-600;
    opacity: .6;
}

path{
    pointer-events: none;
}


.circle-handle {
    fill: $md-light-blue-300;
    cursor: pointer;
    stroke-width: 1.75px;
}

