@import '~material-colors/dist/colors';

body {
    background-color: rgba($md-grey-200, 1);
}


.main {
    padding: 5px;
}

.main > div {
    margin: 0px 5px;
    // flex: 1 1 50%;
    flex-basis: 50%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}


div.is-slider {
    background-color: rgba($md-grey-100, .45);
    box-shadow: .15px .4px 1.5px .5px rgba($md-grey-400, .8);
    margin: 6px 2px;
    padding: 2px 5px;
    position: relative;
    // padding: -5px;
}

.is-slider .katex-display {
    margin: 0;
}

input[type=range] {
    margin: 8px 0px;
}

div.my-slider {
    margin: 15px 0px;
}

.rc-slider-track {
    background-color: $md-light-blue-500;
}

.rc-slider-handle {
    border: solid 2px $md-light-blue-500;
}

button.btn {
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
    width: 100px;
    background: $md-light-blue-500;
    color: white;
    text-align: center;
    horizontal-align: center;
    cursor: pointer;
}


