@import '~material-colors/dist/colors';
.axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #000;
    stroke: none;
}

.axis line {
    stroke: $md-grey-300;
    opacity: .4;
    stroke-dasharray: 1,1;
}

.axis path {
    stroke: #ccc;
}
